html{
    height: 85%;
}

body{
    height: 100%;
}

.container{
    text-align: center;
    height:100%;
}

.map {
    width: 100%; 
    height:90%;
    margin: 0 auto;
}

#window{
    width: 400px;
    text-align: center;
    margin-bottom: 15px;
}

.name{
    font-size: 20px;
    font-weight: bold;
    border-bottom: solid 3px #ffc107;
    padding: 10px;
}

.name :hover{
    color: red;
}

.date{
    margin-bottom: 10px;
    font-size: 20px;
}

.com{
    font-size: 15px;
}

.pass{
    margin-top: 15px;
    font-size: 15px;
}

.dropDownControl{
    margin-top:10px;
    margin-left: 10px;
    padding: 10px;
    font-size:large;
    font-weight: bolder;
    color: red;
    display:block;
    width:100%;
    text-align:center;
    border:2px solid;
    border-color: black;
    background-color:white;
}

.dropDownOptionsDiv{
    margin-left:10px;
    padding: 10px;
    background-color: whitesmoke;
    font-size:large;
    border-top: 0px;
    border-left: 2px solid;
    border-right: 2px solid;
    border-bottom: 2px solid;
    width:100%;
}

.checkboxContainer{
    text-align: left;
}