html{
    height: 85%;
}

body{
    height: 100%;
}

.container{
    text-align: center;
    height:100%;
}

.map {
    max-width: 100%; 
    height:80%;
    margin: 0 auto;
}

#window{
    width: 400px;
    text-align: center;
    margin-bottom: 15px;
}

.name{
    font-size: 20px;
    font-weight: bold;
    border-bottom: solid 3px #ffc107;
    padding: 10px;
}

.name :hover{
    color: red;
}

.date{
    margin-bottom: 10px;
    font-size: 20px;
}

.com{
    font-size: 15px;
}

.pass{
    margin-top: 15px;
    font-size: 15px;
}