html{
    height: 85%;
}

body{
    height: 100%;
}

.container{
    text-align: center;
    height:100%;
}

.map {
    width: 100%; 
    height:90%;
    margin: 0 auto;
}

#window{
    width: 400px;
    text-align: center;
    margin-bottom: 15px;
}

.name{
    font-size: 20px;
    font-weight: bold;
    border-bottom: solid 3px #ffc107;
    padding: 10px;
}

.name :hover{
    color: red;
}

.date{
    margin-bottom: 10px;
    font-size: 20px;
}

.com{
    font-size: 15px;
}

.pass{
    margin-top: 15px;
    font-size: 15px;
}

.dropmenu{
    *zoom: 1;
    list-style-type: none;
    width: 100%;
    height: 100%;
    margin: 5px auto 30px;
    padding: 0;
}

.dropmenu:before, .dropmenu:after{
    content: "";
    display: table;
 }

.dropmenu:after{
    clear: both;
 }

.dropmenu_li{
    background-color: red;
    color:white;
    position: relative;
    width: 20%;
    float: left;
    margin-left: 5px;
    padding: 10px;
    text-align: center;
    font-size: large;
    font-weight: bold;
    box-shadow:0 3px 6px rgba(0, 0, 0), 0 1px 2px rgba(0, 0, 0);
 }
 
.dropmenu_li a{
    display: block;
    margin: 0;
    padding: 15px 0 11px;
    background: white;
    font-size: 14px;
    line-height: 1;
    text-decoration: none;
}

.droplist_ul{
    list-style: none;
    position: absolute;
    z-index: 9999;
    top: 100%;
    left: 0;
    margin-top: 10px;
    padding: 0;
    width: 100%;
}

.droplist_li{
    width: 100%;
}

.droplist_li a{
    padding: 13px 15px;
    border: 1px solid black;
    background: white;
    text-align: left;
}

.dropmenu_li:hover > a{
    background: whitesmoke;
}

.dropmenu_li a:hover{
    background: whitesmoke;
}

#dropmenu li ul{
           visibility: hidden;
           opacity: 0;
           transition: 0s;
      }
       #dropmenu li:hover ul{
           visibility: visible;
           opacity: 1;
      }
      #dropmenu li ul li a{
          visibility: hidden;
          opacity: 0;
          transition: .5s;
      }
      #dropmenu li:hover ul li a{
          visibility: visible;
          opacity: 1;
      }