.head_title{
    font-size: 24px;
    font-weight: bold;
   }
   
   span{
    color:red;
   }

   .logout{
       text-align: right;
   }

   .username{
     font-weight: bold;
     text-align: right;
     width: 90%;
   }
   
   nav{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
   }
   nav ul{
    display: table;
    margin: 0 auto;
    padding: 0;
    text-align: center;
   }
   nav ul li{
    display: table-cell;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
   }
   nav ul li a{
    display: block;
    width: 100%;
    padding: 10px 0;
    text-decoration: none;
    color: #aaa;
   }
   nav ul li a:hover{
    background-color:#F8E750;
   }
   nav ul li.current{
    font-weight: bold;
   }
   nav ul li.current a{
    border-bottom: 5px solid #00B0F0;
    color: #00B0F0;
   }

   /*全体*/
.hidden_box {
  margin: 2em 0;/*前後の余白*/
  padding: 0;
}

/*ボタン装飾*/
.hidden_box label {
  padding: 15px;
  font-weight: bold;
  border: solid 2px black;
  cursor :pointer;
}

/*ボタンホバー時*/
.hidden_box label:hover {
  background: #efefef;
}

/*チェックは見えなくする*/
.hidden_box input {
  display: none;
}

/*中身を非表示にしておく*/
.hidden_box .hidden_show {
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.8s;
}

/*クリックで中身表示*/
.hidden_box input:checked ~ .hidden_show {
  padding: 10px 0;
  height: auto;
  opacity: 1;
}