.b_container {
  width:100%;
  position: relative;
  top: 70px;
  margin: auto;
}

 .hidden {
   display: none;
 }

 .file {
  width: 25%;
  border-radius: 10px;
}

.name{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
}

.list{
  font-size: 20PX;
  font-weight: bold;
  border-bottom: 1px solid;
  width: 100%;
  margin-bottom: 0px;
  padding: 10px;
}

.list:hover{
  background-color: lightgray;
}

.image_erea{
 display: inline-block;
 width :100%;
 text-align: center;
}

.data_erea{
 display: inline-block;
 font-size:20px;
 width: 100%;
 margin-left: 20px;
 text-align: center;
}
 
 @media only screen and (max-device-width: 480px) {
  /* スマホ用のCSS */
 .file {
   width: 100%;
   border-radius: 10px;
 }

 .name{
   font-size: 20px;
   font-weight: bold;
   margin-bottom: 5px;
   text-align: left;
 }

 .list{
   font-size: 20PX;
   font-weight: bold;
   border-bottom: 1px solid;
 }

 .image_erea{
  display: inline-block;
  width :30%;
  margin-bottom: 20px;
  text-align: center;
 }

 .data_erea{
  display: inline-block;
  font:20px;
  width: 60%;
  text-align: center;
 }
}
