.message {
  background-color: #F8E750;
  width: 50%;
  margin: auto;
  padding: 10px;
}

.error_message {
  width: 50%;
  margin: auto;
  color: red;
}

.b_container {
  text-align: center;
  position: relative;
  top: 70px;
}

.label {
  font-weight: bold;
  text-align: left;
  margin: auto;
  width: 80%;
  padding: 0.25em;
  color: #494949;
  background: transparent;
}

.in {
  width: 80%;
  padding: 10px;
  margin: 10px auto 10px auto;
  border: solid 1px;
  border-radius: 5px;
}

.btn {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;
  border-radius: 10px;
  font-weight: bold;
  width: 100px;
}

.btn:hover {
  background: orange;
}

.map-outer {
  width: 100%;
  height: 100%;
}

.map {
  margin: auto;
  width: 70%;
  height: 200px;
}

.hidden {
  display: none;
}

.deletebtn {
  margin-top: 20px;
  position: relative;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: #FFF;
  background: #aaa;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px #494949;
  width: 500px;
}

.marginbottom {
  margin-bottom: 100px;
}